on init
# Setup the global environment  
    # libBrcmOMX_Component.so needs this symbol "_ZN7android19GraphicBufferMapper4lockEPK13native_handleiRKNS_4RectEPPv")
    export LD_SHIM_LIBS "/system/lib/hw/camera.rhea.so|libsamsung_symbols.so:/system/lib/libBrcmOMX_Component.so|libsamsung_symbols.so"

service gpsd /system/bin/glgps -c /system/etc/gps/glconfig.xml
    setenv LD_PRELOAD /system/lib/libglgps-compat.so
    class late_start
    user gps
    group system sdcard_rw inet root radio wifi

service gapps_fix /gapps_fix.sh
    class main
    user root
    oneshot
